@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contatos.css");
@import url("styles/rodape.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: #326589;
    --fonte-principal: "Poppins";
    --azul: #002f52;

}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
.descricao__titulo {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-style: bold;
    color: var(--laranja);
    font-weight: 700;
}
.descricao__titulo-livro {
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-style: bold;
    color: var(--azul-degrade);
    font-weight: 700;
    margin: 0.5em 0;

}
.descricao__titulo-desc {
    font-family: var(--fonte-principal);
    font-size: 14px;
    color: black;

}
.card__botoes {
    display: flex;
    justify-content: space-between;
}
.botoes{
    display: flex; 
    justify-content: space-between;
}
.card {
    background:var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}
.botoes__item{
    font-style: var(--fonte-principal);
    font-weight: 700;
    font-size: 16px;
    color: var(--branco);
    font-style: bold;
    text-decoration: none;
}
